snippet fun "defines function"
const $1 = ($2) => {
	$3
};
$0
endsnippet

snippet require "default js require"
const $1 = require('$2');$0
endsnippet

snippet import "ES6 Import"
import $1 from '$2';
$0
endsnippet

snippet log "logging to console"
console.log($1);$0
endsnippet

snippet fe "for each loop"
$1.forEach(($2) => {
	$3
});$0
endsnippet

snippet map "map function"
$1.map(($2) => {
	$3
});$0
endsnippet
